/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
  color: var(--txt-color);
}

/* Root variables */
:root {
  --txt-color: #ffffff;
  --heading-color: #9ba8ab;
  --primary-color: #4a5c6a;
  --border-color: #253745;
  --gray-color: #11212d;
  --dark-color: #06141b;
  --gold-color: #cda470;
}

/* Global styles */
html {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Times New Roman", Times, serif, calibri, sans-serif;
  background: linear-gradient(
    180deg,
    rgba(6, 20, 27, 1) 0%,
    rgba(37, 55, 69, 1) 37%,
    rgba(204, 208, 207, 1) 100%
  );
}

img {
  width: 100%;
  height: auto;
}

h4 {
  font-size: 30px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
  font-weight: 500;
}

p {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
}

a,
span {
  display: inline-block;
}

/* Background styles */
.bg {
  background-color: aliceblue;
  position: absolute;
  height: 100%;
  width: 100%;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Wrapper styles */
#wrapper {
  width: 1000px;
  height: 500px;
  margin: 65px auto 0;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  background-color: #11212d;
  border-radius: 20px;
}

#inner-wrapper {
  width: 830px;
  margin: auto;
  padding: 15px;
}

/* Flex styles */
.flex {
  display: flex;
}

/* Overflow styles */
/* .o-hidden {
  overflow: overlay;
} */

.o-hidden a {
  color: #11212d;
  text-decoration: none;
}

.o-hidden a:hover {
  text-decoration: none;
}
.position-re {
  position: relative;
}

/* Container styles */
.container {
  max-width: 1200px;
}

.container .row {
  margin-top: 90px;
}

/* Home styles */
.home .container img {
  width: 300px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  border-radius: 20px;
}

nav {
  margin-top: 10px;
  font-size: 20px;
}

nav ul {
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: var(--txt-color);
}

nav a:hover {
  color: var(--heading-color);
}

.home .container {
  align-items: center;
  margin: 10px 0;
}

.home .container div {
  margin-left: 60px;
}

.home .container p {
  font-size: 15px;
}

.home .container h1 {
  font-size: 60px;
  color: var(--gold-color);
  margin: 10px 0;
}

main img {
  margin-top: 25px;
}

.home .container #social-icon ul {
  font-size: 20px;
  margin-top: 30px;
  justify-content: space-between;
  width: 70%;
}

/* Line styles */
.line {
  position: absolute;
  height: 1px;
  width: 65%;
  background: rgb(6, 20, 27);
  background: linear-gradient(
      270deg,
      rgba(6, 20, 27, 1) 0%,
      rgba(37, 55, 69, 1) 37%,
      rgba(204, 208, 207, 1) 100%
    ),
    linear-gradient(to right, #06141b 0%, #253745 37%, #ccd0cf 100%);
}

.line.left {
  left: 0;
  margin-top: 40px;
}

/* Service styles */
.service .row {
  margin: 10rem auto 80px;
  text-align: center;
  justify-content: center;
}

.service .row h6 {
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

.service .row h3 {
  font-size: 48px;
  font-weight: 500;
}

.service .item-box {
  text-align: left;
  margin-top: 30px;
  padding: 60px 40px;
  flex: 0 0 50%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.services .item-box .icon {
  text-align: center;
  font-size: 60px;
  width: 80px;
}

/* Top navigation styles */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  padding: 30px 0;
  color: #fff;
  transition: all 0.7s;
}

.topnav .container-fluid {
  padding: 0 50px;
}

.topnav .logo {
  width: 80px;
}

.topnav .menu-icon {
  margin-left: auto;
  cursor: pointer;
}

.topnav .menu-icon .icon i {
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

.topnav .menu-icon .text {
  font-size: 13px;
  font-weight: 500;
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* Hamburger menu styles */
.hamenu .menu-links {
  margin-top: 30px;
}

.hamenu .menu-links .main-menu {
  position: relative;
  z-index: 2;
}

.hamenu .menu-links .o-hidden {
  display: inline-block;
}

.hamenu .menu-links .main-menu > li {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  width: max-content;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.hamenu .menu-links .main-menu > li .link {
  transform: translateY(45px);
  transition: all 0.7s;
  cursor: pointer;
}

.hamenu.open .menu-links .main-menu > li .link {
  transform: translateY(0);
  transition-delay: 1s;
}

.hamenu .menu-links .main-menu > li span.nm {
  opacity: 0.8;
  font-size: 11px;
  margin-right: 10px;
  color: black;
}

.hamenu .menu-links .main-menu > li .link i {
  font-size: 15px;
  margin-left: 5px;
}

.hamenu .menu-links .main-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition-delay: 0.2s;
}

.hamenu .menu-links .main-menu .sub-menu li {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 10px;
  width: max-content;
}

.hamenu .menu-links .main-menu .sub-menu li .sub-link.back {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.hamenu .menu-links .main-menu .sub-menu li .sub-link.back i {
  margin-left: 10px;
}

.hamenu .cont-info {
  margin-top: 85px;
  position: relative;
  color: #06141b;
  padding: 10px;
}

.hamenu .cont-info .item {
  margin-bottom: 30px;
  transform: translateY(-30px);
  transition: all 0.7s;
}

.hamenu.open .cont-info .item {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

.hamenu .cont-info .item h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #11212d;
}

.hamenu .cont-info .item a {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
}

.hamenu .cont-info:after {
  content: "";
  width: 1px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -40px;
  top: -170px;
  transition: all 0.7s;
}

.hamenu.open .cont-info:after {
  height: 100vh;
  transition-delay: 1s;
}

/* Section padding styles */
.section-padding {
  padding: 120px 0;
}

/* Valign styles */
.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Margin and padding utilities */
.mb-50 {
  margin-bottom: 50px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.text-u {
  text-transform: uppercase !important;
}

.ls10 {
  letter-spacing: 10px !important;
}

.ls1 {
  letter-spacing: 1px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.no-padding {
  padding: 0 !important;
}

/* About us styles */

.about-us {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(6, 20, 27, 1) 0%,
    rgba(37, 55, 69, 1) 50%,
    rgba(204, 208, 207, 1) 100%
  );
}

.about-us .img {
  padding-left: 150px;
  padding-right: 50px;
  position: relative;
}

.about-us .img:before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 400px;
  height: 400px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -1;
}

.about-us .img .stauts {
  position: absolute;
  bottom: 50px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .img .stauts .item {
  padding: 30px 20px;
  background: #272727;
  margin-right: 50px;
  position: relative;
  color: #fff;
}

.about-us .img .stauts .item:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 1px solid rgba(100, 100, 100, 0.1);
}

.about-us .img .stauts .item:first-of-type {
  background: #f5f5f5;
  color: var(--dark-color);
}

.about-us .img .stauts .item h4 {
  font-size: 45px;
  font-weight: 800;
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
}

.about-us .img .stauts .item h4 span {
  font-size: 30px;
  font-weight: 500;
  margin-left: 5px;
}

.about-us .img .stauts .item h6 {
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}

.work-carousel .swiper-slide {
  padding: 0px 15px;
  margin-top: 5rem;
}

.work-carousel .content {
  position: relative;
}

.imago {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.imago.animated {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.work-carousel .content .item-img {
  position: relative;
  height: 480px;
  line-height: 0;
}

.work-carousel .noraidus .item-img {
  height: 480px;
  border-radius: 0;
}

.work-carousel .content .cont {
  position: relative;
}

.work-carousel .noraidus .cont {
  position: absolute;
  padding: 15px 30px;
  background: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.work-carousel .content .cont h6 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.work-carousel .noraidus .cont h6 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.work-carousel .content .cont h4 {
  font-size: 17px;
}

.work-carousel .noraidus .cont h4 {
  font-size: 17px;
}

.work-carousel .simp-next,
.work-carousel .simp-prev {
  color: #fff;
  top: auto;
  bottom: 0;
}

.work-carousel .simp-next {
  right: 30px;
}

.simple-btn {
  position: relative;
  padding: 7px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 13px;
  font-weight: 300;
}

.simple-btn:after {
  content: "";
  width: 45%;
  height: 100%;
}

.simple-btn.right:after {
  left: auto;
  right: 0;
}

.work-carousel .simp-next,
.work-carousel .simp-prev {
  color: #fff;
  top: auto;
  bottom: 0;
}

.work-carousel .simp-prev {
  left: 30px;
}
